:root {
	--primary-text-color: #2F435F; /* Navy */
}

h1, h4, h6, p {
	font-family: 'Inter', sans-serif;
	color: var(--primary-text-color);

	text-align: center;
}

h4 {
	font-size: 24px;
}

h6 {
	font-size: 18px;
}