h1 {
    font-size: 36px; /* Slightly larger */
    font-weight: 600;
    line-height: 1.2;
    margin-top: 32px;
    color: #2F435F;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.4;
    color: #30568c; /* Stands out but balanced */
    margin-top: 28px;
}

h4, h6 {
    color: #2F435F;
    margin-top: 16px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-top: 16px;
    max-width: 80%; /* Improved readability */
}

.container {
    display: flex;
    justify-content: center;
    max-width: 90%; /* More responsive */
    padding: 0 24px; /* Consistent padding */
}

.row, .image-container, .card-row {
    width: 100%; /* Matches overall layout */
    max-width: 80%;
    margin: 0 auto;
    padding: 16px 0;
}

.centered-list {
    max-width: 70%;
    text-align: center;
    margin: 24px auto;
}

.button, .prev-btn, .next-btn {
    color: #2F435F;
    background-color: white;
    border-color: #2F435F;
}

.button:hover, .prev-btn:hover, .next-btn:hover {
    background-color: #2F435F;
    color: white;
}

a {
    color: #30568c;
    transition: color 0.2s;
}

a:hover {
    color: #4C5C92;
}

h1, h2, h4, h6, p {
    padding-top: 24px;
    padding-bottom: 24px;
}

.icon-row, .image-caption, .carousel-controls {
    margin: 0 auto;
    padding: 16px 8px;

}

:root {
    --font-size-base: 16px;
}

h1, h2, h4, h6, p, a {
    font-family: 'Inter', sans-serif;
    font-size: calc(var(--font-size-base) * 1);
    color: var(--primary-text-color);
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

ol, dl, dt, dd {
    font-size: calc(var(--font-size-base) * 0.9);
}

